.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bg-container {
  background-image: url("../src/assets/images/img2.webp");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Adjust as per your design */
}

.logo {
  margin: 1% 35%;
  /* Adjust as per your design */
  width: 40%;
}

.card {
  height: auto;
}

.custom-hr {
  border: 0;
  border-top: 3px solid #140202;
  margin: 20px 0;
}


.profile-image-wrapper {
  width: 35px; /* Set the desired width */
  height: 35px; /* Set the desired height */
  position: relative;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-placeholder {
  display: none; /* Hide by default, only shown if image fails to load */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px; /* Adjust as needed */
  color: #333; /* Adjust text color as needed */
  text-align: center;
}

.profile-image-wrapper .profile-placeholder {
  display: block; /* Show placeholder when image is not loaded */
}